{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": false,
    "extension": [
      ".ts",
      ".tsx"
    ],
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "src/**/*.d.ts"
    ],
    "reporter": [
      "html",
      "cobertura",
      "text"
    ]
}
