/* stylelint-disable selector-class-pattern */
/* stylelint-disable block-no-empty */
/* stylelint-disable selector-id-pattern */

#experimental_option_list {
  display: none;
}

#popup_wait_for_mac {
  text-align: right;
}

#trial_priod_days {
  text-align: right;
}

#forum_memory_cache_size {
  text-align: right;
}

#count_button_option {

}

.buttons {

}

.MSG_ACex_name {

}

.MSG_special_option_list {

}

.MSG_experimental_enable {

}

.MSG_coursename_rectriction {

}

.MSG_save {

}

.MSG_experimental_option_list {

}

.MSG_display_popup_menu {

}

.MSG_popup_wait_for_mac {

}

.MSG_millisecond {

}

.MSG_display_telop {

}

.MSG_license {

}

.MSG_license_user {

}

.MSG_license_status {

}

.MSG_license_expire {

}

.MSG_check_license_by_chrome_web_store {

}

.MSG_trial_priod_days {

}

.MSG_days {

}

.MSG_count_button_enable {

}

.MSG_downloadable {

}

.MSG_forum_memory_cache_size {

}

footer {
  height: 32px;
}

/* -*- coding: utf-8-unix -*- */
