/* stylelint-disable selector-list-comma-newline-after */
.onoffswitch {
  position: relative;
  width: 90px;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-user-select: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 20px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-transition: margin 0.3s ease-in 0s;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transition: margin 0.3s ease-in 0s;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* stylelint-disable-next-line selector-pseudo-element-colon-notation */
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 13px;
  padding: 0;
  line-height: 13px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-box-sizing: border-box;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-pseudo-element-colon-notation */
.onoffswitch-inner:after {
  content: "ON";
  padding-left: 10px;
  background-color: #2fccff;
  color: #fff;
}

/* stylelint-disable-next-line selector-pseudo-element-colon-notation */
.onoffswitch-inner:before {
  content: "OFF";
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}

.onoffswitch-switch {
  width: 18px;
  margin: -2.5px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 73px;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-transition: all 0.3s ease-in 0s;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transition: all 0.3s ease-in 0s;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

/* -*- coding: utf-8-unix -*- */
